<p>Hit "Back" below (or go back in-browser) to edit your page and tags.</p>

<p>When you're done, hit "Back" and copy-paste your code to the location of your choice.</p>

<div class="anchorlink">
    <a href="/edit">Back</a>
</div>

<br> <p class="anchorlink">_______</p> <br>


<%= session['string']%>



