<p>Here's your edited file! Be sure to check the contents to make sure the formatting has been translated correctly.</p>
<textarea id="editWindow"><%= session['string'] %></textarea>
<div class="anchorlink">
    <a href='/done'>Preview</a>
</div>
