


		<p>Welcome to the Word-to-HTML file converter! This site will help you transform your word processing document
		into a properly marked-up web page with easily adjustable formatting.</p>
		<h2>Step 1</h2>
		<p>Open your file in your word processor of choice (usually, Microsoft Word, OpenOffice,
		LibreOffice, etc.)</p>
		<h2>Step 2</h2>
		<p>On the bar at the top of the window, select File -> Save As...</p>
		<h2>Step 3</h2>
		<p>In the "Save" dialogue window, open the "File Type:" pulldown menu and select one of the following
		formats: .htm or .html.</p>
		<h2>Step 4</h2>
		<p>Use the box below to upload the file you just created.</p>
	
	<div id=dropzone>
		<form action="/api/upload" id = "my-dropzone" class="dropzone dz-clickable">
			<div class="dz-default dz-message">Drag an item here (or, click to select file)</div>
		</form>
	</div>
	
		<p>Once you have uploaded your file, you will be directed to a version of your file with simple,
		relevant tagging for you to edit and preview.</p>
	
	